* {
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(#87eafb, #4089f7);
}
.Page-Container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 70%;
  transform: translate(-50%, -50%);
}
.Visual-Container {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  border: 3px solid white;
  overflow: hidden;
  box-shadow: 0px 0px 30px #00000030;
}
.Ball-Container {
  position: absolute;
  top: 20%;
  width: 100%;
  height: 80%;
  background-color: #ffffff20;
}
.Title-Container {
  background: #ffffff50;
  width: 100%;
  height: 20%;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  justify-content: center;
  align-items: center;
}
.Title {
  font-family: "Courier New", Courier, monospace;
  font-size: calc((20px + 40 * ((100vw - 320px) / 1600)));
  text-align: center;
  color: white;
}

.Add-Ball-Container,
.Subtract-Ball-Container {
  align-self: center;
  justify-self: center;
  width: 50%;
  height: 50%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
}

.Add-Ball-Container:hover,
.Subtract-Ball-Container:hover {
  background-color: #ffffff50;
}

#Add-Ball {
  font-family: "Courier New", Courier, monospace;
  font-size: calc((20px + 40 * ((100vw - 320px) / 1600)));
  text-align: center;
  color: white;
}
#Subtract-Ball {
  font-family: "Courier New", Courier, monospace;
  font-size: calc((20px + 40 * ((100vw - 320px) / 1600)));
  text-align: center;
  color: white;
}

.Ball {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background-color: "white";
  border-radius: 50%;
  transition: 0s;
  border: 0 solid #ffffff00;
}
